/**
 * Colors
 */
$primary-color:           #2fbfbb; // green
$secondary-color:         #d53327; // red
$secondary-color-2:       #fce38a; // yellow
$gradient-color-1:        $primary-color;
$gradient-color-2:        #95e1d3; // light green

$text-color:              #212121;
$text-gray:               #999999;

$font-deco:               'Aquarelle';
$font-title:              'Aptima';