<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <article class="benefit">
        <div class="benefit-picture">
          <span class="benefit-thumb"><img src="images/benefit_1.min.jpg" alt="benefit 1"></span>
          <span class="benefit-symbol">
            <img src="images/benefit_icon_1.min.png" alt="icon 1">
          </span>
        </div>
        <div class="benefit-description">
          <h4 class="benefit-title">Khoá học phong phú</h4>
          <p class="list-text">Thời gian bài giảng ngắn, dễ tiếp nhận với 12 chủ đề khác nhau</p>
        </div>
      </article>
    </div>

    <div class="col-md-4">
      <article class="benefit">
        <div class="benefit-picture">
          <span class="benefit-thumb"><img src="images/benefit_2.min.jpg" alt="benefit 2"></span>
          <span class="benefit-symbol">
            <img src="images/benefit_icon_2.min.png" alt="icon 2">
          </span>
        </div>
        <div class="benefit-description">
          <h4 class="benefit-title">Tiết kiệm thời gian</h4>
          <p class="list-text">Chỉ với 30 phút mỗi ngày</p>
        </div>
      </article>
    </div>

    <div class="col-md-4">
      <article class="benefit">
        <div class="benefit-picture">
          <span class="benefit-thumb"><img src="images/benefit_3.min.jpg" alt="benefit 3"></span>
          <span class="benefit-symbol">
            <img src="images/benefit_icon_3.min.png" alt="icon 3">
          </span>
        </div>
        <div class="benefit-description">
          <h4 class="benefit-title">Hiệu quả</h4>
          <p class="list-text">Bằng học 3 trung tâm khác nhau trong 1 năm</p>
        </div>
      </article>
    </div>
  </div>
</div>