<div class="container">
  <header class="section-title">
    <p class="section-title-deco">Ưu điểm Edumall</p>
    <h2 class="section-title-main">Sự lựa chọn cho mọi lứa tuổi, kỹ năng và trình độ</h2>
  </header>

  <div class="mt-5">
    <div class="row">
      <div class="col-md-4">
        <article class="block-advantage">
          <h4 class="advantage-title">Phương pháp sư phạm LIPE</h4>
          <p class="list-text">Đã áp dụng thành công tại Đại học Harvard và Stanford</p>
          <p class="list-text">Xem bài giảng video(Lecture) - Hỏi-đáp với thầy và bạn học (Interaction) - Thực hành (Practice) - Đánh giá kết quả (Evaluation)</p>
        </article>
      </div>

      <div class="col-md-4">
        <article class="block-advantage">
          <h4 class="advantage-title">Trải nghiệm học tập không giới hạn</h4>
          <p class="list-text">Bạn có thể học tại nhà, tại văn phòng, quán cà phê hoặc bất cứ nơi đâu, bất cứ khi nào miễn là thiết bị của bạn ( máy tính bàn, laptop, smartphone,...) có kết nối internet</p>
        </article>
      </div>

      <div class="col-md-4">
        <article class="block-advantage">
          <h4 class="advantage-title">Mua một lần học trọn đời</h4>
          <p class="list-text">Mua một lần học trọn đời</p>
          <p class="list-text">Chỉ mất chi phí một lần để mua khoá học là bạn có thể sở hữu khoá học mãi mãi ngay cả khi khoá học được cập nhật nội dung mới. Khoá học không giới hạn thời gian học tập.</p>
        </article>
      </div>

    </div>
  </div>

  <div class="mt-0 mt-lg-5 text-center">
    <img src="images/map.min.png" alt="map" class="img-fluid mx-auto">
    <div class="mt-4 mt-md-0">
      <h4 class="advantage-title">Dễ học, dễ ứng dụng</h4>
      <p class="list-text">Các khoá học được biểu diễn dưới dạng video, do giảng viên biên soạn từ trước và đưa lên hệ thống website edumall.vn.</p>
      <p class="list-text">Tổng thời gian trung bình mỗi khoá học kéo dài 3-4 tiếng, được chia thành nhiều bài giảng nhỏ có thời lượng từ 3-5 phút để học viên dễ tiếp nhận và vận dụng thực tiễn.</p>
    </div>
  </div>
</div>