<div class="container">
  <div class="row">
    <div class="col-md-4">
      <article class="feature">
        <div class="feature-symbol">
          <img src="images/feature_1.min.png" alt="1">
        </div>
        <h4 class="feature-title">Hoa hồng 30%</h4>
        <p>Khi có khách mua<br>khóa học thành công</p>
      </article>
    </div>

    <div class="col-md-4">
      <article class="feature">
        <div class="feature-symbol">
          <img src="images/feature_2.min.png" alt="2">
        </div>
        <h4 class="feature-title">Khoá học chất lượng</h4>
        <p>Cập nhật liên tục,<br>nhu cầu cao, dễ chia sẻ</p>
      </article>
    </div>

    <div class="col-md-4">
      <article class="feature">
        <div class="feature-symbol">
          <img src="images/feature_3.min.png" alt="3">
        </div>
        <h4 class="feature-title">Báo cáo chính xác</h4>
        <p>Cập nhật trạng thái<br>đơn hàng tức thì</p>
      </article>
    </div>

  </div>
</div>