<div class="block-title-outer">
  <div class="d-flex justify-content-center align-items-center">
    <div class="title-block title-block-jumbotron text-center text-light">
      <p class="sub-title-top">Trở thành</p>
      <h1 class="title">Đối tác phân phối khoá học<br>của Edumall.vn</h1>
      <hr>
      <a href="#section-about" class="btn btn-outline-light btn-scroll">Tìm hiểu ngay</a>
    </div>
  </div>
</div>