<div class="container">
  <header class="section-title">
    <p class="section-title-deco">Về</p>
    <h2 class="section-title-main">Edumall</h2>
  </header>

  <div class="section-lead">
      <p class="section-text"><span class="font-weight-bold">Sứ mệnh Edumall - Triệu người dùng nâng trí tuệ</span><br>
      Edumall tự hào là "siêu thị" các khóa học trực tuyến ngắn hạn lớn nhất Đông Nam Á với hàng nghìn khóa học thuộc mọi lĩnh vực, đội ngũ giảng viên chuyên nghiệp, giàu kinh nghiệm và mạng lưới học viên rộng khắp cả nước. Edumall - nơi bạn học mọi kĩ năng làm chủ tương lai. </p>
  </div>

  <section class="media-list">
    <div class="row">
      <div class="col-md-4">
        <article class="media-item">
          <div class="media-content">
            <img src="images/about_1.min.jpg" alt="1" class="media-thumb">
            <div class="media-overlay">
              <img src="images/about_icon_1.min.svg" alt="1">
              <p>1000+ Khoá học</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="media-item">
          <div class="media-content">
            <img src="images/about_2.min.jpg" alt="1" class="media-thumb">
            <div class="media-overlay">
              <img src="images/about_icon_1.min.svg" alt="1">
              <p>1000+ Khoá học</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="media-item">
          <div class="media-content">
            <img src="images/about_3.min.jpg" alt="1" class="media-thumb">
            <div class="media-overlay">
              <img src="images/about_icon_1.min.svg" alt="1">
              <p>1000+ Khoá học</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>
