<div class="container">
  <header class="section-title">
    <p class="section-title-deco">Hãy nâng cao giá trị cuộc sống của bạn</p>
    <h2 class="section-title-main">Với một giờ học Edumall mỗi ngày!</h2>
  </header>

  <div class="show-course text-center">
    <img src="images/show.min.png" alt="show course">
  </div>
</div>