<!DOCTYPE html>
<html>
<head>
  <%- include('_partials/Head') %>
</head>
<body>
  <div id="app">
    <%- include('_partials/App') %>
  </div>
  <!-- End #app -->

  <%- include('_partials/Script') %>
</body>
</html>